@import url('https://fonts.googleapis.com/css2?family=Fira%20Code:wght@300..700&display=swap');

body {
    font-family: "Roboto Mono", monospace;
    min-height: 400px;
    background-image: url("https://wallpapercave.com/wp/wp6938910.jpg");
    background-color: #000000;
    background-size: 100em;
    background-position: top left;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 0px;
    height: 100vh;
    max-width: 500px;
    max-height: 400px;
    background: rgba(0, 0, 0, 0.8);
    border-color: rgba(0, 0, 0, 0.0);
    border-width: 10px;
    border-style: solid;
    border-radius: 50px;
    margin: 50px auto 30px auto;
  }
  
  .page-title {
    text-align: left;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    margin: -20px;
    padding: 30px 20px 10px 20px;
  }
  
  .page-subtitle {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
  }
  
  .page-logo {
    width: 200px;
    margin: 20px 0 10px 0;
    padding: 10px;
    border-style: dotted;
    border-width: 3px;
    border-color: #fd0;
    border-radius: 15px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  input {
    margin: 12px;
    padding: 6px;
    border-radius: 5px;
  }
  
  label {
    color: white;
    font-size: 16px;
  }
  
  button {
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
    background: #ca2;
  }
  
  h2 {
    color: #ffffff;
    font-size: 20px;
  }

.footer-container {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 0px 20px 0px 20px;
    border-radius: 60px 0 0 0;
}
.profile {
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.profile-picture {
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #aaa;
    padding: 1%;
    size: inherit;
    max-height: 80px;
}
.bio-text {
    margin-left: 20px;
    text-align: left;
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
    color: #999;
    font-weight: 200;
    text-decoration: none;
}
.bio-text h1 {
    color: #3ea;
    font-weight: 500;
    font-size: 16px;
}
.bio-text h3 {
    margin-top: -10px;
    color: #ddd;
    font-weight: 200;
    font-size: 14px;
}
.bio-text h5 {
    margin-top: -10px;
    color: #999;
    font-size: 14px;
    font-weight: 200;
}